*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

 a{
    text-decoration: none;
    font-size: 1.5rem;
    margin: 3px 8px;
    font-family: Cambria;
    color: aliceblue;
}
.ab:hover{
    color: rgb(19, 88, 149);
}
.nav .contact{
    
    padding: 3px 5px;
    color: black;
    
    margin-left: 70px;
}
.cont{
    display: flex;
    justify-content:center;
    align-items: center;
    background-color: aliceblue;
    border-radius: 30px;
}
#con{
    color: black;
    border-radius: 10px;
}
.nav{
    display: flex;
    background-color: black; 
   justify-content:flex-end;
    margin-top: 20px;
    padding-top: 5px;
}
.cuerpo{
    background-color: rgb(240, 240, 221);
    margin: 40px 70px;
    display: inline-block;
}

.information{
    display: flex;
    justify-content:space-evenly;
    align-items:center;
    text-align: center;
    padding:0px 10px;
}
.img{
    flex: 30%;
    object-fit: cover;
    height: 400px;
    max-width: 500px;
    clip-path: polygon(25% 0%,100% 0%, 100% 100%, 0% 100%);
}
.soy{
    flex: 20%;
}
span{
    font-size: 30px;
    
}
.sobre_mi{
    color: aliceblue;
    background-color: black;
    text-align: center;
    padding: 10px 30px;
    margin-top:10px;
}
.contenedor{
    display: flex;
    justify-content: center;
    align-items: center;
}
.titulo-skills{
    display: inline-block;
    text-align: center;
    border: 3px solid black;
    padding: 15px 30px;
    border-radius: 5px;
    font-size: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
    
}
.skills{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    position: relative;
}
.herramientas{
    margin: 0px 40px;
}

.logos{

    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    gap: 2rem;
    justify-content: center;
}
.text{
    color: black;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.num{
    padding: 10px 10px;
}
.imagen img{
    max-width: 250px;
    max-height: 200px;
    min-height: 200px;
    object-fit: cover; 
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: -2px 3px 10px rgb(220, 213, 213);
}
.texto{
    margin-top: 30px;
}
.portfolio{
    background-image:url(./imagenes/ciudad-serie-el-senor-de-los-anillos.jpg);
    background-size: cover;
    background-position: center;
    padding:30px 40px ; 
}

.card{
    background-color: rgb(30, 28, 28);
    padding: 10px;
    border-radius: 15px;
    max-width:500px;
    box-shadow: -2px 3px 10px rgb(82, 80, 26);
}
.card-titulo{
    color: rgb(209, 72, 26);
    margin-bottom: 10px;
    font-size: 20px;
}
.card-descripcion{
    color:rgb(209, 203, 191);
    max-width: 250px; 
    margin-bottom: 10px;
}
.card-boton{
    border: 3px solid wheat;
    border-radius: 15px;
    display: inline-block;
    min-width: 200px;
    
}
.card-boton:hover{
    background-color: rgb(240, 240, 240);
    color: black;    
}
.cont-form{
    display: flex;
    justify-content: center;
    align-items: center;
}
.form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
input{
    font-size: 1.5rem;
    padding:4px 7px;
    margin: 10px;
    border: none;
    box-shadow: -2px 3px 10px black;
}
textarea{
    font-size: 20px;
    resize: none;
    padding: 10px;
    max-width:320px ;
    margin-top: 15px;
    border: none;
    box-shadow: -2px 3px 10px black;
}
.footer{
    text-align: center;
    background-color: black;
    color: aliceblue;
    font-size: 20px;
    margin-top: 20px;
    padding-bottom: 30px;
    padding-top: 20px;
}
.iconos{
    padding: 15px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}
.enviar{
    border: 3px solid black;
    border-radius: 15px;
    margin-top: 15px;
    padding: 7px 10px;
    color: black;
}
.enviar:hover{
    background-color: rgb(7, 7, 7);
    color: blanchedalmond;
}
@media (max-width:500px){
    .cuerpo{
        margin:0;
    }
}
